/* ================ RESET ================= */
body {
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
	line-height: 1.42857143;
    color: #333;
    min-width: 1000px;
}
ul, ol {
	padding: 0px;
    list-style: none;
}
img {
	max-width: 100%;
}
a {
    cursor: pointer;
}
a:hover, a:focus {
    text-decoration: none;
}
h3, .h3 {
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 10px;
}
label.text-left {
	text-align: left !important;
}
.clear{
	clear: both;
}

.no-padding {
    padding: 0;
}
.w100  {
	width: 100%;
}
.right {
	float: right;
}
.left {
    float: left !important;
}
.breadcrumb  {
	display: none;
}
.no-margin {
    margin: 0;
}
.input-group-addon, .btn {
    font-size: 13px;
}
.form-group {
    margin-bottom: 10px;
}
.form-control:focus {
    border-color: #1cb467;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    background: #27b466;
    cursor: pointer;
	color:#fff;
}

.btn-blank {
    border-color: #999;
    color: #333;
    min-width: 60px;
    background-color: #fff;
}

.btn-default {
    background-color: #27b467;
    color: #fff;
    min-width: 60px;
    border: thin solid transparent;
}

.btn-default:hover, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #1cb467;
    background-color: #fff;
    border-color: #1cb467;
}
.button-cancel {
    background-color: #fff;
    padding: 5px 15px;
    padding-right: 17px;
    color: #777;
    border: 1px solid #dddee2;
}
.button-cancel:hover {
    background-color: #ececf5;
}

.modal-footer {
	padding: 6px 7px;
}

.modal-footer .btn-closes{
	margin-right: 7px;
	border-color: #999;
    color: #333;
    background-color: #fff;
}


/* ================ END RESET ================= */

/* ================ LOGIN ================== */
body#login-form {
	min-width: auto;
	background-color: #242b39;
}
#login-form button.close
{
	display:none;
}
#login-form .alert {
	padding: 0;

	-webkit-box-shadow:none;
}
#login-form .has-error .help-block, .has-error {
	color: #ff6060;
}
#login-form .alert {
	text-shadow:none;
	box-shadow:none;
}

.main-login {
    width: 500px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
}

.main-login p.title {
	font-size:14px;
	color:#fff
}

img.logo-login {
	margin-bottom: 10px;
	height: 98px;
}

.main-login .inputText {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.main-login .login-input {
	margin-bottom: 10px;
}

.main-login .login-input-mail {
    height: 38px;
}

.main-login .forget-pass {
	float: left;
	color: #02a050;
	line-height: 36px;
	margin: 20px 0px;
}

.main-login input[type="submit"] {
    float: right;
    width: 121px;
    height: 36px;
    border: none;
    border-radius: 17px;
    background-color: #1cb467;
    color: #fff;
    outline: none;
	margin: 20px 0px;
}

.main-login input[type="text"] {
    /* width: 410px; */
    height: 38px;
    line-height: 38px;
    border: solid 1px #d2d3d3;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 0px 10px;
}

.main-login .form-group.field .help-block.with-errors {
	margin-left: 0px;
	text-align: left;
}

.main-login .line-login {
	margin-bottom: 40px;
}

@media(max-width: 500px) {
	.main-login {
		width: 100%;
	}
}
/* ================ END LOGIN ================== */

/* ================ COL-LEFT ================= */
.colLeft {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 85px;
    background: #fff;
    transition: width 200ms;
    z-index: 100;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}


#left-nav {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}

.website-menu-top-header {
    height: 60px;
    border-bottom: 1px solid #e1e5eb;
}

.website-menu-top-logo--short {
    display: block;
    padding: 10px 15px;
    max-height: 60px;
    margin: 0 auto;
}

.website-menu-inner-wrapper {
    height: calc(100% - 60px);
}

.website-menu-primary {
    height: 100%;
    width: 85px;
    position: relative;
}
.website-menu-list-item-link {
    font-size: 13px;
    color: #465c72;
}
.website-menu-list-item-link--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 62px;
}

.website-menu-list-item--primary {
	transition: 0.2s all ease;
}
.website-menu-list-item--primary:hover, .website-menu-list-item--active {
    background-color: #f4f7f9;
}
.website-menu-list-item-icon {
    font-size: 16px;
}
.website-menu-list-item-label {
    margin-top: 7px;
    font-weight: 600;
}
.website-menu-list-item-link--secondary-active, .website-menu-list-item-link--secondary:hover {
    background-color: #e0e8ed;
	transition: 0.2s all ease;
}
.website-menu-primary-inner--fix-bottom {
    border-top: 1px solid #e1e5eb;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.website-menu-list-item-icon-wrapper {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #465c72;
    border-radius: 16px;
}
.website-menu-list-item-icon--user-info {
    color: #fff;
    line-height: 32px;
}
.website-menu-list-item__user-info {
    height: 49px;
    display: flex;
    justify-content: center;
	align-items: center;
}

.website-menu-secondary {
    display: block;
    height: 100%;
    background-color: #f4f7f9;
}

.website-menu-list-item-link--secondary {
    padding: 11px 5px 11px 15px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 165px;
}

.website-menu-list-item-link {
    font-size: 13px;
    color: #465c72;
}
.fht-table-wrapper, .fht-table-wrapper .fht-thead, .fht-table-wrapper .fht-tfoot, .fht-table-wrapper .fht-fixed-column .fht-tbody, .fht-table-wrapper .fht-fixed-body .fht-tbody, .fht-table-wrapper .fht-tbody {
    position: relative;
}
.fht-tbody {
    height: auto !important;
}
/* ================ END COL-LEFT ================= */

/* ================ COL-RIGHT ================= */
.colRight {
    margin-left: 85px;
	overflow: auto;
	background-color: #eaeff3;
    width: calc(100% - 85px);
}

.help {
    width: 100%;
    display: inline-block;
    padding: 125px 0 0 0;
    text-align: center;
    min-height: 100vh;
    border-left: 1px solid #e1e5eb;
    background-color: #dae9f4;
}
.help>h2 {
    color: #465c72;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 15px 0;
}
.help>p {
    color: #566a7e;
    font-size: 20px;
    padding: 20px 0 35px;
}
.help>.list-btn {
    display: inline-block;
}
.help>.list-btn .btn-help {
    width: 125px;
    float: left;
    text-align: center;
}
.help>.list-btn>.btn-help>.btn-img-help {
    width: 110px;
    height: 110px;
    float: left;
    text-align: center;
    border-radius: 50%;
    padding: 18px 0;
    border: 5px solid #cbdbe7;
    margin: 0 auto;
    background-color: #fff;
	transition: 0.2s all ease;
	position: relative;
}
.help>.list-btn .btn-help:hover>.btn-img-help {
    width: 120px;
    height: 120px;
}
.help>.list-btn .btn-help>.btn-img-help>img {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    max-width: 60px;
}
.help>.list-btn>.btn-help>p {
    padding: 17px 0 30px;
    color: #555;
    float: left;
    width: 120px;
    font-size: 14px;
    transition: 0.2s all ease;
}
.help>.list-btn .btn-help:hover>p {
    color: #1cb467;
	width: 120px;
    text-decoration: underline;
}
.help>.list-btn>.ico-arrow {
    display: inline-block;
    float: left;
    padding: 40px;
}
.help>.list-btn>.ico-arrow>img {
    width: 30px;
}
.help .btn-skip {
    background: #fff;
    color: #465c72;
    margin-bottom: 40px;
	transition: 0.2s all ease;
}

.help .btn-skip:hover {
	background: #1cb467;
	color:#fff;
}


.dropup .dropdown-menu {
    margin-bottom: 10px;
	padding-bottom: 0px;
	min-width: 100px;
}

.dropdown-menu ul, .dropdown-menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #d8dee6;
}

.website-menu-list-item__user-info .dropdown-menu {
    margin-left: 10px;
}
.website-menu-list-item__user-info .dropdown-menu-arrow {
    left: 32px;
}
.website-menu-list-item__user-info .dropdown-menu-list>li {
    padding: 0;
}
.website-menu-list-item__user-info .dropdown-menu-list>li>a {
    color: #465c72;
    padding: 11px 10px 11px 15px;
    display: block;
    white-space: nowrap;
}
.website-menu-list-item__user-info .dropdown-menu-list>li>a>i {
    margin-right: 5px;
}
/* ================ END COL-RIGHT ================= */


/* ================ BODY ================= */
.page-body {
    padding-top: 60px;
    background-color: #eaeff3;
}

.container-right {
    width: 100%;
	margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e2e6e8;
    overflow-y: auto;
    padding: 0 15px;
	padding-bottom: 40px !important;
}

.title-product {
    top: 0;
    position: fixed;
    background: #f2f4f8;
    line-height: 38px;
    padding-top: 15px;
    width: auto;
    height: 60px;
    z-index: 2;
}

.header__main {
    flex: 1 0 0%;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    order: 1;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
    width: 60%;
    height: 26px;
}

.page-heading-md, .page-subheading-md {
    padding: 13px 0;
    z-index: 11;
}

.page-heading {
	-webkit-transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	
	position: fixed;
    top: 0;
    right: 0;
    padding: 17px 10px 17px 10px;
    background-color: #eaeff3;
    left: 85px;
}

.marginContent {
    margin-top: 18px;
}

.field {
    display: flex;
	position: relative;
	margin-bottom: 15px;
}
.field label {
    margin-right: 18px;
}

.form-group.field {
	display: block;
}	
.form-group.field .help-block.with-errors {
	margin-left: 158px;
}

.form-group label.control-label {
	text-align: right;
	float: left;
	width: 140px;
	padding-top: 8px;

	margin-bottom: 5px;
	color: #303132;
	font-weight: 400;
	font-size: 13px;
	margin-right: 18px;	
}

.field.required label:before {
    content: "*";
    color: #f00;
    margin: 0 .2em;
}

.dateofbirth {
	float: left;
	width: 200px !important;
}

.dateofbirth input {
	float: left;
}

.product-input {
    border-radius: 4px;
    height: 33px;
    padding: 4px;
    margin-bottom: 1px;
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    width: 200px;
    line-height: 18px;
    background-color: #fff;
    border: 1px solid #cbd5dd;
}
.order-item-right-text {
    width: 100%;
}
.order-menu-screen__right_detailorder-issued input {
    width: 80%;
    float: left;
    height: 32px;
    border-radius: 4px 0 0 4px;
    padding: 5px;
}
.input-group-addon:last-child {
    border-left: 0;
}
.order-menu-screen__right_detailorder-issued span {
    width: 20%;
    float: left;
    height: 32px;
    padding: 8px 4px 4px 6px;
}

.form-datepicker-common {
    position: relative;
    width: 100%;

}
.form-datepicker-common i {
    position: absolute;
    padding: 9px 7px;
    pointer-events: none;
    color: #777;
    right: 2px;
    background: none;
    border-radius: 0 4px 4px 0;
    height: 30px;
}

.field label {
    text-align: right;
    float: left;
    width: 140px;
    padding-top: 8px;
    margin-right: 10px;
    font-weight: normal;
}
.fixed-btm-actions {
    position: fixed;
    left: 85px;
    right: 14px;
    bottom: 0;
    width: auto;
    z-index: 99;
}
.fixed-btm-actions .actions {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 49px;
    text-align: right;
    padding: 10px;
    margin: 0;
    background: rgba(88,93,100,.95);
    border-bottom: 0;
}
.fixed-btm-actions .actions {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 49px;
    text-align: right;
    padding: 10px;
    margin: 0;
    background: rgba(88,93,100,.95);
    border-bottom: 0;
}
.buttonfooter {
    margin-left: 10px;
    font-size: 12px;
    border-radius: 4px;
    float: left;
    height: 30px;
    outline: 0;
    outline: none;
    cursor: pointer;
    width: 80px;
    font: inherit;
	transition: 0.2s all ease;
}
.buttonfooter:hover{
	color:#fff;
	background-color: rgba(39, 180, 102, 0.85);
}
.button_primary {
    background-color: #27b466;
    font: inherit;
    color: #fff;
    border: none;
}

.nav-active .colLeft {
	width: 250px;
}

.nav-active .colRight {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.nav-active .page-heading {
	left: 250px;
	z-index: 105;
}

.header-right {
    position: absolute;
    right: 8px;
    top: 14px;
    width: 61%;
    text-align: right;
}

.search-layout-common {
    width: 37%;
}

.header-input-search input {
    height: 33px;
}
.search-layout-common input {
    padding-left: 30px;
    height: 30px;
    font-size: 13px;
}
.header-input-search i {
    padding: 10px 8px;
}
.search-layout-common i {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #333;
}
.header-fr {
    float: right !important;
}

.boder-table {
    border-bottom: solid 1px #dcdee2;
    background-color: #fff;
    width: calc(100% - 10px);
    overflow: hidden;
}
#remove-filter-common {
	padding-top: 3px;
}
#remove-filter-common a{
    margin-left: 12px;   
	color: #fff;
    background-color: #27b467;	
	border-left: 0px solid #dcdee2;
	transition: 0.2s all ease;
}
#remove-filter-common a .fa {
	padding-right: 4px;
}

#remove-filter-common a:hover {
	background: #009644;
}

.filter-search-nav {
    padding-top: 60px;
    background-color: #eaeff3;
    padding-left: 0;
    padding-right: 8px;
}
	.filter-tab-list {
    align-items: stretch;
    border-radius: 3px 3px 0 0;
    display: flex;
    display: -webkit-box;
    flex-wrap: nowrap;
    list-style: outside none none;
    margin: 0;
}
.filter-tab-list>li {
    align-items: stretch;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    height: 35px;
	background: none;
	padding-top: 3px;
}
.filter-tab-list>li.filter-tab-active {
    z-index: 1001;
    padding-top: 0;
    border-radius: 0;
}
.filter-tab-list>li.filter-tab-active {
    color: #31373d;
    cursor: default;
    text-decoration: none;
    background: #fff;
    border-bottom: 0;
}
.filter-tab-item.filter-tab-active {
    border-top: 2px solid #27b467;
}

.filter-tab.filter-tab-active {
    padding: 6px 18px;
    line-height: 26px;
    padding-top: 0;
    padding-top: 6px;
}

.filter-tab-item a.filter-tab:hover {
    color: #fff;
    background-color: #27b467;
    transition: 0.2s all ease;
}

.filter-tab {
    margin-top: 0;
    padding: 6px 18px;
    line-height: 20px;
    background-color: #dde4ea;
    color: #333;
    border-left: 1px solid #fff;
    display: block;
    position: relative;
    transition: background-color ease .2s;
}

.filter-tab.filter-tab-active {
    border: 0;
    color: #393c40 !important;
    cursor: default;
    text-decoration: none;
    background: #fff !important;
    padding: 10px 20px 6px 20px;
    font: inherit;
    margin-top: 0;
}

.bulk-action-context {
    position: relative;
}
#form-Edit-customer, #product-detail-form, #form-detail-supplier, #load-view-right-content {
    padding-left: 10px;
}

#load-view-right-content #product-detail-form {
    padding-left: 0;
}	

.nav-active .header-common-right {
    width: calc(100% - 270px);
}
.header-input-search input {
    height: 33px;
}
.header-button-gr {
    border-right-color: #27b467;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	    margin-right: 1px;
		margin-left: 10px;
}
.header-button-gl {
    border-left: none;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #27b467;
	    margin-left: 1px;
		margin-right: 15px;
}
.t-grid-pager-boder{
	    z-index: 100;
    position: fixed;
    bottom: 0;
    width: calc(100% - 250px);
    background-color: #fff;
    margin-right: 0;
    margin-left: 0;
	width: calc(100% - 250px);
	background-color: #eaeff3;
	padding: 13px 0;
	width: calc(100% - 85px);
	z-index: 1;		
}

.container-right {
    width: 100%;
    padding: 0 15px;
}

.fa-question-circle {
    float: right;
    margin-top: 10px;
}

.h_Box {
    border-top: 1px dashed #e2e6e8;
}
.colorNote {
	display: block;
	margin-bottom: 20px;
}
.table-fa .fa{
	font-size: 20px;
	color:#C4CED1;
}

.table>thead>tr>th {
	border-bottom: none;
}

#table-height .tbody-scoler tr:nth-child(2n+1) {
	background-color: #f9f9f9;
}

#table-height .tbody-scoler tr:hover {
    background-color: #f6f9fb;
} 
/* ================ END BODY ================= */


/* ================ MODAL ================ */
.modal-header {
	    background: #f9fafc;
    font-family: 'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    height: 46px;
    padding: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #47bbab;
    border-bottom: none;
    color: #fff;
}

.modal-dialog-new .modal-header .ui-dialog-title {
    color: #fff;
    font-size: 18px;
}

.modal-header .ui-dialog-title {
    float: left;
    width: 98%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    height: 100%;
    padding-top: 9px;
}
/* ================ END MODAL ================ */

/* ================ REPORTS ================ */
.container-report {
    font-size: 11px;
    float: left;
    padding: 0 10px;
    height: 100vh;
    margin: 0 !important;
}

.container-report>.dasboardReport {
    height: 100vh;
    background: #fff;
}
.content-right-product {
    margin-top: 60px;
    background-color: #fff;
    border: 1px solid #e2e6e8;
    overflow: auto;
}
.content-table {
    padding-top: 20px;
    padding-left: 0px;
    background-color: white;
}
.img {
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;
}
.text-report {
    float: left;
    width: calc(100% - 120px);
    color: #333;
}
.text-head {
    color: #1cb467;
    padding: 7px;
    font-size: 16px;
    padding-left: 0px;
}
.container-report .title-product {
	width: 100%;
}

.box-sale {
    border: 1px solid #E2E6E8;
    margin-left: 25px;
    width: calc(100% - 25px);
    height: 80px;
    padding: 0px;
}
/* ================ END REPORTS ================ */

/* ================ ORDER ================ */
.menu-left-new {
    display: inline-block;
    width: calc(100% - 320px);
    float: left;
}
.menu-left-new .order-menu-screen__left {
    width: 100%;
    padding: 15px 0 0;
    border: 1px solid #ddd;
	background-color: #fff;
}
.order-menu-screen__right-scoll_updateorder, .order-menu-screen__right-scoll_invoice {
    width: 94%;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10px;
    background: #fff;
}
.menu-right-new .order-menu-screen__right-scoll_updateorder, .menu-right-new .order-menu-screen__right-scoll_invoice {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.menu-right-new .order-menu-screen__right-scoll_invoice-header {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    background-color: #f9fafc;
}
.menu-right-new .order-menu-screen__right-scoll_invoice-header-left {
    font-size: 15px;
    width: 50%;
    color: #363636;
    font-weight: 500;
}
.order-menu-screen__right {
    width: 320px;
    color: #777;
}
.left-inner-addon {
    position: relative;
    width: 85%;
    float: left;
}
.menu-left-new .order-menu-screen__left .form-group {
    padding: 0 7.5px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    color: #777;
}
.menu-left-new .left-inner-addon #input-customer>i {
    padding: 8px 12px;
}
.left-inner-addon input {
    padding-left: 30px;
	font-size: 12px;
}
.menu-left-new .order-menu-screen__left .form-group>input.form-control, .menu-left-new .order-menu-screen__left .form-group>select.form-control, .menu-left-new .order-menu-screen__left .form-group .form-datepicker-common input, .menu-left-new .order-menu-screen__left .form-group .selectize-input {
    height: 29px;
	font-size: 12px;
}
.form-datepicker-common input {
    width: 100%;
    float: left;
    height: 32px;
    border-radius: 4px;
    padding-right: 27px;
    font-size: 13px;
}
.menu-left-new .form-datepicker-common i {
    position: absolute;
    padding: 8px 7px;
    pointer-events: none;
    color: #777;
    right: 9px;
    background: transparent;
    border-radius: 0 4px 4px 0;
    height: 31px;
}
.order-menu-screen__left-variant {
    position: relative;
    width: 100%;
}
.menu-left-new .table-order-new>#table-order {
    display: block;
    margin-top: 0;
}
.menu-left-new .table-order-new>#table-order>thead {
    width: 100%;
    display: inline-block;
    background: #f9fafc;
	border-top: thin solid #dedede;
}
.menu-left-new .table-order-new>#table-order>thead>tr {
    display: inline-flex;
    width: 100%;
}
.menu-left-new .table-order-new>#table-order>thead>tr>th {
    border: none!important;
    background: #f9fafc;
    color: #333;
    font-size: 13px;
    padding: 7px 8px!important;
	font-weight: 600;
}
.menu-left-new .table-order-new>#table-order>thead>tr>th:first-child {
    padding: 7px 8px 7px 15px!important;
}
#table-order {
    border: 0;
}

#no-prd{
	background: url(../../assets/img/no-prd.png) center top no-repeat;
	min-height: 180px;
}
.menu-left-new .table-order-edit {
    border-bottom: none!important;
}
.defaul-table {
    margin-bottom: 0;
}
.menu-left-new .order-menu-screen__left-scroll .order-menu-screen__left-totalamount {
    padding: 0 15px 5px;
    border: none !important;
    bottom: 50px;
    background: #fff;
    display: none;
    border-top: 1px dotted #dcd9d9!important;
}
.menu-left-new .order-menu-screen__left-scroll .order-menu-screen__left-totalamount {
    padding: 0 15px;
}
.website-menu-expand .menu-left-new .order-menu-screen__left-scroll .order-menu-screen__left-totalamount {
    width: 100%;
	padding-top: 20px;
}
.website-menu-expand .order-menu-screen__left-payment {
    background: rgba(88,93,100,.95);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 49px;
    /*position: fixed;
    left: 250px;
    right: 23.1%;*/
    bottom: 0;
    width: auto;
}
.website-menu-expand .menu-left-new .order-menu-screen__left-payment {
    /*width: calc(100% - 580px);
    left: 260px !important;*/
    border-radius: 0;
}
.order-menu-screen__left-payment .actions {
    padding: 10px;
    margin: 0;
    border-bottom: 0;
}
.order-menu-screen__left-payment .actions {
    display: inline-block;
    width: 100%;
    padding: 0px 10px 10px 15px;
}
.fixed-noteTag {
    /*left: 95px;
    position: fixed;
    width: calc((100% - 417px)*.4);
    bottom: 10px;*/
}
.website-menu-expand .fixed-noteTag {
    /*width: calc((100% - 582px)*.4);
    left: 275px;*/
}

.website-menu-expand .fixed-noteTag textarea.form-control {
	height: 100px;
}

textarea.form-control {
    height: auto;
}

.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput {
    height: 54px !important;
    padding: 2px 3px;
    overflow: auto;
}
.bootstrap-tagsinput {
    width: 100%;
}

.menu-left-new .order-menu-screen__left-scroll .order-menu-screen__left-totalamount_total {
    margin-left: 5%;
    width: 100%;
    float: right;
    /*margin-top: 10px;*/
}
.order-menu-screen__left-totalamount_total ul li {
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #dcdee2 !important;
}
.menu-left-new .order-menu-screen__left-totalamount_total ul li {
    padding: 0;
    border-bottom: none!important;
	position: relative;
}

.menu-left-new .order-menu-screen__left-totalamount_total ul li .order-payment-total__head_value {
	position: absolute;
	right: 0px;
}
/* ================ END ORDER ================ */

/* ================ VALIDATE ================= */
.help-block, .help-block .list-unstyled{
	margin-bottom: 0px;
}
/* ================ VALIDATE ================= */

@media (min-width: 1200px) {
	.product-description {
		width: 75%;
	}
}
